<%= link_to("<< Back to List", {:action => 'index'} , :class => 'back-link') %>

<div class = "pages edit">
	<h2>Update Pages</h2>
	
<%= form_for(:page, :url => { :controller => 'pages' , :action => 'update' , :id => @page.id }) do |f| %>

	<table summary = "Page form field">
		<tr>
			<th>Name:</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Permalink:</th>
			<td><%= f.text_field(:permalink) %></td>
		</tr>
		<tr>
			<th>Position:</th>
			<td><%= f.text_field(:position) %></td>
		</tr>
		<tr>
			<th>Visible:</th>
			<td><%= f.text_field(:visible) %></td>
		</tr>
		
	</table>
	<div class="form_buttons">
		<%= submit_tag("Update Page") %>
	</div>
<% end %>

</div>	

			
